<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body style="background-color: aquamarine;text-align: center;">
    <h1 style="color: brown;">Welcome to Home Page</h1>
    <div style="text-align: right;">
        <p>IoT devices are pieces of hardware, such as sensors, actuators, gadgets, appliances, or machines, that are programmed for certain
             applications and can transmit data over the internet or other networks.</p>
    </div>
    <div style="text-align: left;">
        <p>IoT devices are pieces of hardware, such as sensors, actuators, gadgets, appliances, or machines, that are programmed for certain
             applications and can transmit data over the internet or other networks.</p>
    </div>
    <button style="background-color:chartreuse;border-color: red;">sign-in </button>
    <button style="background-color:chartreuse;border-color: red;">sign-up</button>
</body>
</html>