<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>olx_products</title>
</head>
<body>
    <h1 style="text-align: center;">products page</h1>
    {% for i in data %}
    <ol>
        <li>
            title:{{i.title}}
        </li>
        <li>
            price:{{i.price}}
        </li>
        <li>
            tag:{{i.tag}}
        </li>
        <li>
            rating:{{i.rating}}
        </li>
        <li>
            date : {{i.date}}

        </li>
    </ol>
    {% endfor %}
</body>
</html>